# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
*.tsbuildinfo

# Local Environment Variables
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env

# Firebase
*.firebase.*
firebase-debug.log
database-debug.log

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# WebNix specific (if any in the future, e.g., local user data if not using localStorage)
# /local_user_data/
